<header>
  <nav class="bg-indigo-50 border-gray-200 px-4 lg:px-6 py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="#" class="flex items-center"><span class="text-indigo-600 self-center text-xl font-semibold whitespace-nowrap">CloudLearn</span></a>

      <!-- Mobile menu button -->
      <button class="lg:hidden focus:outline-none" id="mobile-menu-button">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>

      <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <li><a href="/home" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Home</a></li>
          <li><a href="/public/courses" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Courses</a></li>
          <li><a href="#" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Certifications</a></li>
          <li><a href="/public/resources" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Resources</a></li>
          <li><a href="/public/contactus" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Mobile menu (hidden by default) -->
<div class="lg:hidden" id="mobile-menu-container">
  <ul class="flex flex-col mt-4 font-medium">
    <li><a href="/home" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Home</a></li>
    <li><a href="/public/courses" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Courses</a></li>
    <li><a href="#" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Certifications</a></li>
    <li><a href="/public/resources" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Resources</a></li>
    <li><a href="/public/contactus" class="block py-2 pr-4 pl-3 hover:text-blue-800 text-black rounded lg:bg-transparent lg:p-0" aria-current="page">Contact</a></li>
  </ul>
</div>

<script>
  // Toggle mobile menu visibility
  document.getElementById('mobile-menu-button').addEventListener('click', function() {
    // document.getElementById('mobile-menu').classList.toggle('hidden');
    document.getElementById('mobile-menu-container').classList.toggle('hidden');
  });
</script>
